<div class='row'>
  <div class='col-xs-12'>
    <app-game-control
      (valueCreated)=onValueCreate($event)
      (valueReset)=onValueReset()
    ></app-game-control>
  </div>
</div>
<div class='container'>
  <div class='col-md-12'>
    <div class='col-md-6'>
      <app-odd
        *ngFor='let el of oddElements'
        [element]=el
      ></app-odd>
    </div>
    <div class='col-md-6'>
      <app-even
        *ngFor='let el of evenElements'
        [element]=el
      ></app-even>
    </div>
  </div>
</div>

